# Task 1
merging the tables

In [1]:
import pandas as pd
import numpy as np

In [3]:
mat = pd.read_csv("student-mat.csv", sep=";")
por = pd.read_csv("student-por.csv", sep=";")

during merging i used outer join so that i don't lose the data for the students that have only math or only portuguese

In [6]:
students = pd.merge(mat,por,on=["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"],how="outer",suffixes=("-mat","-por"))

In [8]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 53 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   school          682 non-null    object
 1   sex             682 non-null    object
 2   age             682 non-null    int64
 3   address         682 non-null    object
 4   famsize         682 non-null    object
 5   Pstatus         682 non-null    object
 6   Medu            682 non-null    int64
 7   Fedu            682 non-null    int64
 8   Mjob            682 non-null    object
 9   Fjob            682 non-null    object
 10  reason          682 non-null    object
 11  guardian-mat    407 non-null    object
 12  traveltime-mat  407 non-null    float64
 13  studytime-mat   407 non-null    float64
 14  failures-mat    407 non-null    float64
 15  schoolsup-mat   407 non-null    object
 16  famsup-mat      407 non-null    object
 17  paid-mat        407 non-null    object
 18  activities-mat  407 non-null    object
 19  nursery         682 non-null    object
 20  higher-mat      407 non-null    object
 21  internet        682 non-null    object
 22  romantic-mat    407 non-null    object
 23  famrel-mat      407 non-null    float64
 24  freetime-mat    407 non-null    float64
 25  goout-mat       407 non-null    float64
 26  Dalc-mat        407 non-null    float64
 27  Walc-mat        407 non-null    float64
 28  health-mat      407 non-null    float64
 29  absences-mat    407 non-null    float64
 30  G1-mat          407 non-null    float64
 31  G2-mat          407 non-null    float64
 32  G3-mat          407 non-null    float64
 33  guardian-por    657 non-null    object
 34  traveltime-por  657 non-null    float64
 35  studytime-por   657 non-null    float64
 36  failures-por    657 non-null    float64
 37  schoolsup-por   657 non-null    object
 38  famsup-por      657 non-null    object
 39  paid-por        657 non-null    object
 40  activities-por  657 non-null    object
 41  higher-por      657 non-null    object
 42  romantic-por    657 non-null    object
 43  famrel-por      657 non-null    float64
 44  freetime-por    657 non-null    float64
 45  goout-por       657 non-null    float64
 46  Dalc-por        657 non-null    float64
 47  Walc-por        657 non-null    float64
 48  health-por      657 non-null    float64
 49  absences-por    657 non-null    float64
 50  G1-por          657 non-null    float64
 51  G2-por          657 non-null    float64
 52  G3-por          657 non-null    float64
dtypes: float64(26), int64(3), object(24)
memory usage: 282.5+ KB

# Task2
### Part 1
scaling grades to 100

In [11]:
students['G3-mat-100'] = students['G3-mat'] * 5
students['G3-por-100'] = students['G3-por'] * 5

In [13]:
students.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout-por,Dalc-por,Walc-por,health-por,absences-por,G1-por,G2-por,G3-por,G3-mat-100,G3-por-100
0,GP,F,15,R,GT3,T,1,1,at_home,other,...,2.0,1.0,1.0,1.0,4.0,13.0,13.0,13.0,50.0,65.0
1,GP,F,15,R,GT3,T,1,1,other,other,...,5.0,1.0,1.0,1.0,2.0,8.0,9.0,9.0,NaN,45.0
2,GP,F,15,R,GT3,T,1,1,other,other,...,4.0,2.0,4.0,5.0,2.0,13.0,11.0,11.0,25.0,55.0
3,GP,F,15,R,GT3,T,2,2,at_home,other,...,1.0,1.0,1.0,2.0,8.0,14.0,13.0,12.0,65.0,60.0
4,GP,F,15,R,GT3,T,2,4,services,health,...,2.0,1.0,1.0,5.0,2.0,10.0,11.0,10.0,40.0,50.0

### Part 2
analyzing how weekly study time affects grades

In [16]:
study_time_math = students.groupby('studytime-mat')['G3-mat-100'].agg(['min', 'max', 'median', 'mean']).reset_index()
study_time_por = students.groupby('studytime-por')['G3-por-100'].agg(['min', 'max', 'median', 'mean']).reset_index()

In [18]:
study_time_math

   studytime-mat  min    max  median       mean
0            1.0  0.0   95.0    50.0  49.363636
1            2.0  0.0   95.0    55.0  50.541872
2            3.0  0.0   95.0    60.0  57.313433
3            4.0  0.0  100.0    60.0  56.296296

We can see that students that did not study for more than 10 hours did not get grade = 100.
We can also see that studying less than 2 hours and more than 2 but less than 5 hours did not have an effect on the grade that much.
We can see that when the study time increased the mean grade generally increased but, when the study time increased to more than 10 hours on average it affected the grade negatively.

In [21]:
study_time_por

   studytime-por   min   max  median       mean
0            1.0   0.0  90.0    55.0  54.050926
1            2.0   0.0  95.0    60.0  60.519481
2            3.0  40.0  90.0    65.0  66.173469
3            4.0  30.0  95.0    65.0  65.285714

We can see that when the study time increased the mean grade generally increased but, when the study time increased to more than 10 hours on average it affected the grade negatively.

### Part 3
seeing the correlation between the age of students and their number of absences

In [25]:
c_age_grade_mat = students['age'].corr(students['absences-mat'])
c_age_grade_por = students['age'].corr(students['absences-por'])

In [27]:
print(f'The correlation between age and average absences for Math is: {c_age_grade_mat}')

The correlation between age and average absences for Math is: 0.17658181855558297

Which shows that there is some influence of age on the number of absences but its quite weak.

In [30]:
print(f'The correlation between age and average absences Portuguese is: {c_age_grade_por}')

The correlation between age and average absences Portuguese is: 0.14506534463300436

Which is similar to the above one but even weaker.

# Task 3
### Part 1
seeing how weekend and workday alcohol consumption is influencing the grades of the students.

I calculate the avg grade for the students for the math and portuguese as one to see the general effect.

In [79]:
students['G-avg-mat'] = (students['G1-mat'] + students['G2-mat'] + students['G3-mat']) / 3 * 5
students['G-avg-por'] = (students['G1-por'] + students['G2-por'] + students['G3-por']) / 3 * 5
students['G-avg'] = np.nanmean(students[['G-avg-mat', 'G-avg-por']], axis=1) # I used nanmean because some students have only 1 subject grade
students.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,health-por,absences-por,G1-por,G2-por,G3-por,G3-mat-100,G3-por-100,G-avg-mat,G-avg-por,G-avg
0,GP,F,15,R,GT3,T,1,1,at_home,other,...,1.0,4.0,13.0,13.0,13.0,50.0,65.0,45.000000,65.000000,55.000000
1,GP,F,15,R,GT3,T,1,1,other,other,...,1.0,2.0,8.0,9.0,9.0,NaN,45.0,NaN,43.333333,43.333333
2,GP,F,15,R,GT3,T,1,1,other,other,...,5.0,2.0,13.0,11.0,11.0,25.0,55.0,31.666667,58.333333,45.000000
3,GP,F,15,R,GT3,T,2,2,at_home,other,...,2.0,8.0,14.0,13.0,12.0,65.0,60.0,66.666667,65.000000,65.833333
4,GP,F,15,R,GT3,T,2,4,services,health,...,5.0,2.0,10.0,11.0,10.0,40.0,50.0,45.000000,51.666667,48.333333

In [81]:
c_walc_mat = students['Walc-mat'].corr(students['G-avg'])
c_walc_por = students['Walc-por'].corr(students['G-avg'])
c_dalc_mat = students['Dalc-mat'].corr(students['G-avg'])
c_dalc_por = students['Dalc-por'].corr(students['G-avg'])

In [83]:
print(f'The correlation between weekend alcohol consumption and the students grades is:\n Math = {c_walc_mat}\n Portuguese = {c_walc_por}')

The correlation between weekend alcohol consumption and the students grades is:
 Math = -0.1572910998878626
 Portuguese = -0.13785114460511438

We can see that there is a correlation between them, so the alcohol consumption is affecting the students grades negatively, but the correlation is not that strong.

In [86]:
print(f'The correlation between workday alcohol consumption and the students grades is:\n Math = {c_dalc_mat}\n Portuguese = {c_dalc_por}')

The correlation between workday alcohol consumption and the students grades is:
 Math = -0.166958534599427
 Portuguese = -0.14801364816280746

We can also see the same here but it seems that workday alcohol consumption has a bit stronger impact on the grades.

In [89]:
walc_performance_mat = students.groupby('Walc-mat')['G-avg'].agg(['min', 'max', 'median', 'mean']).reset_index()
dalc_performance_mat = students.groupby('Dalc-mat')['G-avg'].agg(['min', 'max', 'median', 'mean']).reset_index()
walc_performance_por = students.groupby('Walc-por')['G-avg'].agg(['min', 'max', 'median', 'mean']).reset_index()
dalc_performance_por = students.groupby('Dalc-por')['G-avg'].agg(['min', 'max', 'median', 'mean']).reset_index()

In [91]:
walc_performance_mat

   Walc-mat        min        max     median       mean
0       1.0  26.666667  91.666667  58.333333  59.123932
1       2.0  18.333333  90.833333  57.500000  57.101852
2       3.0  20.000000  85.000000  56.666667  57.355967
3       4.0  11.666667  81.666667  53.333333  52.435897
4       5.0  25.833333  80.833333  51.250000  52.380952

In [93]:
walc_performance_por

   Walc-por        min        max     median       mean
0       1.0   8.333333  91.666667  57.083333  57.166667
1       2.0   6.666667  90.833333  56.666667  57.153680
2       3.0   8.333333  88.333333  55.000000  55.340278
3       4.0  13.333333  81.666667  50.000000  51.941288
4       5.0  11.666667  80.833333  51.666667  51.222222

Here we can observe the mean of the grade getting lower when the alcohol consumption is getting higher

In [96]:
dalc_performance_mat

   Dalc-mat        min        max     median       mean
0       1.0  18.333333  91.666667  58.333333  58.668415
1       2.0  11.666667  85.000000  55.000000  53.733766
2       3.0  30.833333  81.666667  53.333333  53.076923
3       4.0  25.000000  61.666667  46.666667  47.129630
4       5.0  35.000000  73.333333  55.833333  53.425926

In [98]:
dalc_performance_por

   Dalc-por        min        max     median       mean
0       1.0   8.333333  91.666667  56.666667  57.122538
1       2.0   6.666667  88.333333  53.333333  53.130081
2       3.0  30.833333  90.000000  51.666667  53.643411
3       4.0  11.666667  68.333333  50.000000  48.284314
4       5.0  28.333333  73.333333  53.333333  49.558824

in the last 2 tables we can see the same decrease but for the 3rd table there was an unespected rise in the grade from 47 to 53 wehn the alcohol consumption rose to 5 which was unexpected.

### Part 2

Checking how romantic relationships affect the desire of the student to pursue higher level education.

In [102]:
romantic_grades_mat = students.groupby('romantic-por')[['G-avg']].mean().reset_index()
romantic_grades_por = students.groupby('romantic-mat')[['G-avg']].mean().reset_index()

In [104]:
romantic_grades_mat

  romantic-por      G-avg
0           no  56.818910
1          yes  53.831259

In [106]:
romantic_grades_por

  romantic-mat      G-avg
0           no  57.747253
1          yes  55.497512

we can see that when the students had romantic relationship then their average was less.

In [109]:
students['higher-mat'] = students['higher-mat'].apply(lambda x: 1 if x == 'yes' else 0 if x == 'no' else x)
students['higher-por'] = students['higher-por'].apply(lambda x: 1 if x == 'yes' else 0 if x == 'no' else x)

I transfomed "yes" and "no" values for the "higher-mat/por" to 1 and 0 respectively so that I can easily calculate the mean of the yes and no.

In [112]:
higher_romantic_mat = students.groupby('romantic-mat')[['higher-mat']].mean()
higher_romantic_por = students.groupby('romantic-por')[['higher-por']].mean()
higher_romantic_mat

              higher-mat
romantic-mat
no              0.963370
yes             0.910448

In [114]:
higher_romantic_por

              higher-por
romantic-por
no              0.915865
yes             0.850622

we can see that students in a romantic relationship are less willing to pursue higher education.